.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: var(--mantine-spacing-md);
  font-family: Outfit, var(--mantine-font-family);
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.control {
  margin-top: 0.75rem;
}

@media (max-width: 768px) {
  .control {
    width: 100%;
  }
}

.mobileImage {
  display: block;
}

@media (min-width: 48em) {
  .mobileImage {
    display: none;
  }
}

.desktopImage {
  display: none;
}

@media (min-width: 48em) {
  .desktopImage {
    display: block;
  }
}
