.comments-section {
  margin: 40px 0;
  padding: 40px 0;
  font-family: var(--rar-font-manrope);
}

.comments-section__counter {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 40px;
  transition: all 0.3s ease;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary-strong);
  border: 1px solid var(--primary-strong);
}

.comments-section__counter:hover {
  background-color: #fff;
  border-color: var(--primary-strong);
  color: var(--primary-strong);
}

.comments-section__counter i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .comments-section {
    margin: 20px 0;
    padding: 30px 0;
  }
}
