.monitoring-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border: 1px solid var(--primary-strong);
    /* #e3e7ef; */
    border-radius: 0;
    /* background: #fff; */
    min-height: 150px;
    font-family: var(--rar-font-manrope);
    height: 100%;
}

.monitoring-card--recommendation {
    padding: 0;
    border-radius: 0;
    border: none;
    min-height: 100px;
}

.monitoring-card__meta {
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: space-between;
}

.monitoring-card__date {
    font-size: 14px;
    color: #6c757d;
}


.monitoring-card__title {
    font-size: 18px;
    line-height: 1.3;
    color: #1a1a1a;
    margin: 0;
    font-weight: 500;
}

.monitoring-card--recommendation .monitoring-card__title {
    font-size: 0.9em;
}

.monitoring-card__link {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #1d407c;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 900px) {
    .monitoring-card__title {
        font-size: 16px;
    }

    .monitoring-card {
        gap: 20px;
        padding: 15px;
    }

    .monitoring-card--recommendation {
        padding-bottom: 15px;
        border-radius: 0;
        min-height: fit-content;
    }
}

@media (max-width: 600px) {
    .monitoring-card {
        padding: 10px;
        min-height: fit-content;
    }
}