.monitoring-section__item-animated {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s cubic-bezier(.4,0,.2,1), transform 0.7s cubic-bezier(.4,0,.2,1);
}
.monitoring-section__item-visible {
    opacity: 1;
    transform: none;
}

.monitoring-section__content .content-section__item {
    height: 100%;
}
