.about-section {
    padding: var(--padding-h);
    display: grid;
    grid-template-columns: var(--grid-columns-xxxl);
    gap: var(--grid-gutter-md);
    margin-top: var(--margin-top-s);
    height: 100%;
}


.about-section__title {
    grid-column: 1 / span 2;
}

.about-section__title-animated {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s cubic-bezier(.4, 0, .2, 1), transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.about-section__title-visible {
    opacity: 1;
    transform: none;
}

.about-section__content {
    grid-column: 3 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.about-section__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section__description-animated {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.7s cubic-bezier(.4, 0, .2, 1), transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.about-section__description-visible {
    opacity: 1;
    transform: none;
}

.about-section__text:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-default);
}

.about-section__text--spaced {
    margin-top: 20px;
    text-indent: 2em;
    padding-bottom: 30px;
}

.about-section__stats {
    grid-column: 6 / span 3;
}

.about-section__stats-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.about-section__stats-list-animated {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s cubic-bezier(.4, 0, .2, 1), transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.about-section__stats-list-visible {
    opacity: 1;
    transform: none;
}

.stat__number {
    font-size: 55px;
    font-weight: 300;
    color: var(--primary-strong);
    font-family: var(--rar-font-forum);
}

.stat-animated {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s cubic-bezier(.4, 0, .2, 1), transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.stat-visible {
    opacity: 1;
    transform: none;
}

.about-section__image {
    width: 100%;
}

.about-section__image-animated {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s cubic-bezier(.4, 0, .2, 1), transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.about-section__image-visible {
    opacity: 1;
    transform: none;
}

@media (max-width: 1199px) {
    .stat__number {
        font-size: 40px;
        font-weight: 400;
        color: var(--primary-strong);
    }

    .about-section__title {
        grid-column: 1 / span 8;
    }

    .about-section__content {
        grid-column: 1 / span 4;
        grid-row: 2;
        padding-top: 40px;
        padding-right: 40px;
    }

    .about-section__stats {
        grid-column: 5 / span 4;
        grid-row: 2;
        /* margin-top: 40px; */
    }
}

@media (max-width: 768px) {
    .stat__number {
        font-size: 40px;
        font-weight: 400;
        color: var(--primary-strong);
    }

    .about-section__content {
        grid-column: 1 / span 8;
        grid-row: 3;
        padding-top: 10px;
        padding-right: 0;
        border-top: 1px solid var(--dark-default);
        margin-top: 20px;
    }

    .about-section__stats {
        grid-column: 1 / span 8;
        grid-row: 2;
        margin-top: 40px;
    }

    .about-section__description {
        gap: 10px;
    }

    .about-section__stats-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 15px;
    }

    .about-section__details {
        justify-content: center;
        display: flex;
    }
}