.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.pagination__item {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--rar-font-manrope);
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.pagination__item:hover {
    text-decoration: underline;
    color: var(--primary-strong);
    /* background: #1d407c;
    color: #fff;
    border-color: #1d407c; */
}

.pagination__item.is-active {
    background: #fff;
    color: var(--primary-strong);
    border-color: var(--primary-strong);
    cursor: default;
    border: 1px solid var(--primary-strong);
}

.pagination__item.is-active:hover {
    text-decoration: none;
    color: var(--primary-strong);
    background: #fff;
    border-color: var(--primary-strong);
}

.pagination__ellipsis {
    color: #000;
    font-size: 18px;
    padding: 0 4px;
}
