.home-news-section__item-animated {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.7s cubic-bezier(.4, 0, .2, 1), transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.home-news-section__item-visible {
    opacity: 1;
    transform: none;
}

.home-news-section {
    gap: 40px;
    padding: var(--padding-h);
    margin-top: var(--margin-top-s);
    padding-top: 60px;
    padding-bottom: 100px;
    /* border-radius: 40px 40px 0 0; */
    background-color: color-mix(in srgb, var(--primary-bg-strong) 30%, transparent);
}

.home-news-section__header {
    margin-bottom: 60px;
}

.home-news-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.home-news-section__col--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-news-section__item .news-card {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.home-news-section__item .news-card__image-wrapper {
    height: 200px;
}

.home-news-section__item .news-card__title {
    font-size: 0.9em;
}

.home-news-section__item .news-card__content {
    padding-top: 0;
}

.home-news-section__item .arrow-button__arrow {
    width: 35px;
    min-height: 30px;
}

.home-news-section__item .arrow-button__arrow i {
    font-size: 14px;
}

/* sticky + эффект появления справа */
.home-news-section__col--main {
    position: sticky;
    top: 100px;
    align-self: flex-start;
    transition: opacity 0.8s cubic-bezier(.4, 0, .2, 1), transform 0.8s cubic-bezier(.4, 0, .2, 1);
    opacity: 0;
    transform: translateX(-60px);
    z-index: 2;
    box-shadow: none;
}

@media (max-width: 900px) {
    .home-news-section__col--main {
        position: static;
        top: auto;
    }
}

.home-news-section__col--main-visible {
    opacity: 1;
    transform: none;
}

.home-news-section__col--main .news-card__image-wrapper {
    height: 450px;
}

@media (max-width: 900px) {
    .home-news-section__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }


}

@media (max-width: 600px) {
    .home-news-section__item .news-card {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .home-news-section__col--main .arrow-button__arrow {
        width: 35px;
        min-height: 30px;
    }

    .home-news-section__col--main .arrow-button__arrow i {
        font-size: 14px;
    }

    .home-news-section__item .news-card__title {
        font-size: 1em;
    }

    .home-news-section__item .news-card__image-wrapper,
    .home-news-section__col--main .news-card__image-wrapper {
        height: 200px;
    }
}